---
import ArrowRight from "@/icons/ArrowRight.astro";

interface Props {
	title: string;
	logo: string;
	image: string;
	href: string;
	cta: string;
}

const { href, title, logo, image, cta } = Astro.props;
---

<li class="project-card" data-image={image}>
	<div class="default" data-image={image}>
		<picture>
			<img src={logo} alt=`${image} Logo` />
		</picture>
	</div>

	<div class="info">
		<h3>
			{title}
		</h3>
		<a href={href} target="_blank">
			<button>
				<span>{cta}</span>
				<ArrowRight />
			</button>
		</a>
	</div>
</li>

<style>
	.project-card {
		list-style: none;
		display: grid;
		place-content: center;
		color: white;
		min-height: 215px;
		padding: 1px;
		/* background-color: hotpink; */
		/* background-image: url("../projects/Nomi.png"); */
		opacity: 1;
		position: relative;
	}
	.info {
		position: absolute;
		widows: 100%;
		height: 100%;
		inset: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		background-color: var(--clr-accent);

		opacity: 0;
		transition: opacity 250ms ease-in;
	}
	.project-card:hover .info {
		opacity: 1;
	}
	.project-card .info > * {
		transform: translateY(16px);
		transition: transform 450ms ease;
	}

	.project-card:hover .info > * {
		transform: translateY(0);
	}
	a {
		text-decoration: none;
	}
	button {
		display: flex;
		align-items: center;
		gap: 4px;
		color: var(--clr-accent);
		font-size: var(--step--1);
		font-weight: 700;
		text-decoration: none;
		padding: 6px 8px;
		border-radius: 20px;
		background-color: var(--clr-body-bg);
		width: fit-content;

		transition: background-color var(--spd-clr-hover) ease-in;
	}
	button:hover {
		cursor: pointer;
		background-color: var(--clr-btn-hover);
	}

	span {
		margin-top: 1px;
	}
	h3 {
		margin: 0;
		font-size: var(--step-0);
		color: var(--clr-body-bg);
	}
	.default {
		opacity: 1;
		position: absolute;
		widows: 100%;
		height: 100%;
		display: grid;
		place-content: center;
		inset: 0;
	}
	[data-image="Nomi"]::after,
	[data-image="MontesCorp"]::after,
	[data-image="FitimeStore"]::after {
		content: "";
		position: absolute;
		inset: 0;
		widows: 100%;
		height: 100%;
		background-size: 100%;
	}
	[data-image="Nomi"]::after {
		background-image: url("../projects/Nomi.jpg");
	}
	[data-image="MontesCorp"]::after {
		background-image: url("../projects/MontesCorp.jpg");
	}
	[data-image="FitimeStore"]::after {
		background-image: url("../projects/FitimeStore.jpg");
	}
	picture {
		z-index: 1;
	}
</style>
